<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>danh sach sinh vien</h1>
        <ul>
            <% sinhviens.foEach(function(sinhvien){%>
            <li>
                <% = sinhvien.name %>
                <img src="\uploads\<%= sinhvien.picture %>" />
                <form action="/sinhvien/<%= sinhvien._id %>?_method = DELETE" method="post">
                    <button type="submit">delete</button>
                </form>
            </li>
            <% }); %>
        </ul>
        <a href="/sinhvien/form">add sinh vien</a>
    </body>

</html>